
body{
    margin: 0;
    height: 1200px;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 20px;
}

.caja{
    width: 50%;
    height: 50%;
    background-color: aquamarine;
    border: 1px solid black;
    margin-left: 20px;
    text-align: center;
    font-size: 20px;
}