*{
    margin: 0px;
}

:root{
    --blue: rgb(31, 110, 207);
}

.seccion{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100px;
    background: linear-gradient(rgb(20, 50, 131), rgb(31, 110, 207));
    box-shadow: 2px 2px 2px black ;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 20px;
}
.seccion small{
    font-size: 20px;
    opacity: 0.5;
}



button:hover{
    transform: scale(1.2);
    
}

#secciones{
    width: 100%;
    margin-top: 5cqh;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 50px;
    column-gap: 50px;
    justify-content: center;
}

body{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    margin-left: 20px;
    margin: 0px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: var(--blue);
    height: 80px;
    color: white;
    
}

header h1{
    margin-left: 20px;
    padding-bottom: 10px;
}

#subtema{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

h3{
    margin-left: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--blue);
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 20px;
    height: 100px;
    justify-content: center;
    align-items: center;
    
}

#tema{
    font-size: 25px;
}

button a{
    color: white;
    text-decoration: none;
}
button{
    color: white;
    border: none;
    background: transparent;
    font-size: 25px;
    font-weight: bold;
    font-family: Raleway;
    transition-duration: 0.5s;
    cursor: pointer;
}

.tema{
    background: linear-gradient(rgb(91, 26, 188), rgb(115, 42, 184));
    height: 50px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 2px 2px 10px rgba(29, 5, 115, 0.5);
}

section{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    margin-top: 80px;

}

a{
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
}

a:hover{
   opacity: 0.5;
}

.seccion[data-terminado="true"]{
    color: rgb(0, 0, 0);
    background: linear-gradient(rgb(9, 189, 51) 20%, hsl(85, 99%, 65%) 95%, rgb(24, 156, 4) 10%);
    border: 2px solid rgb(115, 234, 30);
    
}

