html{
    font-size: 20px;
}


.caja{
    font-size: 2rem;
    width: 25rem;
    height: 25rem;
    text-align: center;
    background-color: aquamarine;
    border: 1px solid black;
}

@media (max-width: 768px){
    :root{
        font-size: 15px;
    }
}

@media (max-width: 528px){
    :root{
        font-size: 10px;
    }
}

@media (max-width: 368px){
    :root{
        font-size: 8px;
    }
}


