*{
    margin: 0px;
}

:root{
    --blue: rgb(31, 110, 207);
}

.seccion{
    display: flex;
    width: 300px;
    height: 100px;
    background: linear-gradient(rgb(20, 50, 131), rgb(31, 110, 207));
    box-shadow: 2px 2px 2px black ;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 20px;
}

.seccion:hover{
    transform: scale(1.2);
    
}

#secciones{
    width: 100%;
    margin-top: 5cqh;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 50px;
    column-gap: 50px;
    justify-content: center;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    margin: 0px;
}

header{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: var(--blue);
    height: 80px;
    color: white;
    
}

header h1{
    margin-left: 20px;
    padding-bottom: 10px;
}

#subtema{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--blue);
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 20px;
    height: 100px;
    justify-content: center;
    align-items: center;
    
}

#tema{
    font-size: 25px;
}