*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}

.article{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.article:first-child{
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.article h2{
    font-size: 25px;
}

header{
    background-color: rgb(255, 0, 0);
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    border-bottom: 3px dashed black;
    color: white;
}

nav{
    background: lightblue;
    height: 50px;
    border-bottom: 1px solid black;
}

nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.clearfix{
    clear: both;
}

#content{
    float: left;
    width: calc(80% - 80px);
    background: green;
    min-height: 500px;
    padding: 40px;
}

aside{
    float: left;
    width: calc(20% - 20px);
    background: orange;
    min-height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;   
}

#btn-volver{
    display: flex;
    flex-direction: column;
    width: 300px;
    background: linear-gradient(rgb(20, 50, 131), rgb(31, 110, 207));
    box-shadow: 2px 2px 2px black ;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    height: 50px;
    margin-right: 20px;
}

header h1{
    margin-left: 20px;
}

#btn-volver:hover{
    transform: scale(1.05);
}