
/* body{
    font-size: 40px;
} */

.padre{
    font-size: 10px;
}

.padre h1{
    font-size: 5em;
}

.padre2{
    font-size: 50px;
}

.caja{
    width: 13em;
    height: 13em;
    text-align: center;
    background-color: aquamarine;
    border: 1px solid black;
}

.caja h3{
    font-size: 2em;
}